<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'js/jquery.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'js/jquery-migrate-3.0.1.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'js/bootstrap.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'js/jquery.easing.1.3.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'js/jquery.waypoints.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'js/jquery.stellar.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'js/owl.carousel.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'js/jquery.magnific-popup.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'js/aos.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'js/jquery.animateNumber.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'js/scrollax.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'js/main.js', 'data-turbolinks-track': 'reload' %>

   
    
  </head>

  <body>
    <%= yield %>
    

  </body>

  
</html>
